.App {
  height: 100%;
  text-align: center;
  border: 5px solid;
  border-radius: 20px;
  width: max-content;
  padding: 50px 100px 100px 100px;
  margin: 100px auto;
}

#bouton-egale {
  height: 30px;
  width: 50px;
  border-radius: 20px;
  margin: 20px 10px auto auto;
  font-weight: bold;
  background-color: #fefefe;
  border: 1px solid;
}

#operateur {
  margin: 10px auto;
  font-weight: bold;
  height: 30px;
  width: 50px;
  text-align: center;
}

#resultat {
  font-weight: bold;
  font-size: 20px;
}
